@import url(main.css);

body {
    font-family: var(--font);
    overflow: hidden;
    overflow-y: scroll;
}

.container {
    padding: 25px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-inline: auto;
}

.video-list {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    transition: --scrollcol 1s;
    scroll-snap-type: y mandatory;
}

.video-list > * {
    scroll-snap-align: start;
}

.video-list:hover {
    --scrollcol: var(--bg-color-hover);
}

.video-list::-webkit-scrollbar {
    width: 10px;
}

.video-list::-webkit-scrollbar-thumb {
    background-color: var(--scrollcol);
    border-radius: 20px;
}

.video-list::-webkit-scrollbar-track {
    margin: 10px 0;
}

.video-list video{
    max-width: 100%;
    width: 170px;
    border-radius: 10px;
    width: 100%;
}

.videoItem {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 20px;
    cursor: pointer;
}

.video-wrapper {
    position: relative;
}

.video-wrapper img {
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
    border-radius: 10px;
    pointer-events: none;
    transition: 1s;
    width: 100%;
}

.video-wrapper .duration{
    position: absolute;
    right: 5px;
    bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    background-color: var(--bg-color-3);
    padding: 2px 4px;
}

.video-wrapper:hover img {
    opacity: 0;
}

.videoItem .info {
    display: flex;
}

.videoItem .info > div {
    flex: 1;
}

.videoItem .info svg {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.videoItem .info .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;  
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    line-height: 1.25;
    font-size: 1.5rem;
    margin-bottom: 7px;
}

.videoItem .info .vid-owner {
    align-items: center;
    gap: 10px;
    display: flex;
    margin: 10px 0;
}

.videoItem .info .vid-owner img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.videoItem .info .dis p {
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    margin-top: 10px;
}

.videoItem .info p,
.videoItem .info ul {
    font-size: 1rem;
    color: var(--text-color-1);
}

.videoItem .info ul {
    list-style: none;
    display: flex;
}

.videoItem .info .date::before {
    content: '•';
    padding: 0 5px;
}

.nores {
    color: #0058fb;
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 50px;
    text-overflow: ellipsis;
    width: 75em;
    text-wrap: nowrap;
    overflow: hidden;
}

.loaderHidden {
    opacity: 0;
}

.loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background: white;
    transition: 1s ease-in-out;
}

.loadcontainer {
    padding: 90px 5vw;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loaditemvid {
    display: grid;
    grid-template-columns: 32vw 1fr;
    position: relative;
}

.loaditemvid .minvid {
    background-color: #c8c8c8;
    height: 18vw;
    border-radius: 15px;
    position: relative;
}

.loaditemvid .minvid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 105%;
    height: 2.5vw;
    border-radius: 5px;
    width: 180%;
    background-color: #c8c8c8;
}

.loaditemvid .minvid::after {
    content: '';
    position: absolute;
    top: 4vw;
    left: 105%;
    height: 2.5vw;
    border-radius: 5px;
    width: 150%;
    background-color: #c8c8c8;
}

.loader * {
    animation: load 2s ease-in-out infinite forwards;
}

.loaditemvid::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 37.5%;
    top: 8vw;
    background-color: #c8c8c8;
}

@keyframes load {
    0% { opacity: 1; }
    50% { opacity: .7; }
    100% { opacity: 1; }
}

.error {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error p {
    font-size: 5rem;
    font-weight: bold;
    font-family: var(--font-2);
    color: #0058fb
}

.error p span {
    color: tomato;
}

.error .nothing-found {
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-color-1)
}
