@font-face {
    font-family: 'Poppins-medium';
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins-light';
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins-regular';
    src: url(../fonts/Poppins-Regular.ttf);
}

:root {
    --bg-color: white;
    --bg-color-1: #00000010;
    --bg-color-2: #00000080;
    --bg-color-3: #000000a0;

    --bg-color-hover: #00000020;

    --border-color: #00000020;

    --stroke-color: #00000080;

    --text-size: 1.3rem;

    --text-color: white;
    --text-color-1: #00000080;

    --scale: 80%;

    --font: 'Poppins-regular';
    --font-1: 'Poppins-light';
    --font-2: 'Poppins-medium';
}

@property --scrollcol {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    padding-left: 17.5px;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 100;
    background: white;
}

.vitube-container,
.menu {
    display:flex;
    align-items: center;
    gap: 10px;
}

#menu {
    display: none;
}

.menu svg {
    width: 30px;
    height: auto;
    stroke: black;
}

.menu {
    stroke-width: 1px;
    padding: 10px;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
}

.menu:hover {
    background: var(--bg-color-hover);
}

.vitube {
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav svg {
    stroke-width: 1px;
}

#top-mic {
    fill: black;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px
}

.search-wrapper {
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color-1);
    position: relative;
    height: 40px;
}

#search::-webkit-search-cancel-button {
    display: none;
}

#search {
    outline: none;
    border: none;
    font-size: 1rem;
    background: var(--bg-color);
    padding: 7.5px 15px;
    padding-right: 30px;
    border-right: solid 1px var(--border-color);
    width: 450px;
    border-radius: 100px 0 0 100px;
    font-family: var(--font-1);
}

#search:focus,
#search:valid {
    border: 1px solid #00a2ff;
}

#search:focus ~ .feather-x,
#search:valid ~ .feather-x {
    opacity: 1;
    pointer-events: fill;
}

.feather-x {
    position: absolute;
    right: -6px;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: .5s;
}

.feather-search {
    cursor: pointer;
    padding: 0 20px;
    transition: .5s;
    height: 100%;
    border-radius: 0 20px 20px 0;
}

.feather-search:hover {
    background-color: var(--bg-color-1);
}

.mic {
    display: flex;
    align-items: center;
    position: relative;
}

.mic::after {
    content: 'Search with your voice';
    pointer-events: none;
    position: absolute;
    padding: 5px 10px;
    left: -75.5px;
    bottom: 0;
    background-color: transparent;
    transition: .5s;
    text-align: center;
    scale: 1%;
    opacity: 0;
    overflow: hidden;
    border-radius: 10px;
    color: var(--text-color);
    width: 182.5px;
    backdrop-filter: blur(2px);
}

.mic:hover::after {
    scale: 80%;
    opacity: 1;
    bottom: -120%;
    background-color: var(--bg-color-3);
}

.feather-mic {
    background-color: var(--bg-color-1);
    padding: 12.5px;
    border-radius: 50%;
    transition: .5s;
}

.feather-x:hover,
.feather-mic:hover {
    background-color: var(--bg-color-hover);
}

.for-user-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.create {
    display: flex;
    align-items: center;
    font-family: var(--font-1);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: var(--bg-color-1);
    transition: .5s;
    gap: 5px;
    cursor: pointer;
}

.create:hover {
    background-color: var(--bg-color-hover);
}

.create svg {
    stroke-width: 1px;
    width: 27px;
    height: auto;
}

.feather-bell {
    stroke-width: 2px;
    padding: 10px;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
}

.feather-bell:hover {
    background-color: var(--bg-color-hover);
}

.notification {
    display: flex;
    align-content: center;
    position: relative;
}

.notification::after {
    content: 'Notification';
    pointer-events: none;
    position: absolute;
    padding: 5px 10px;
    left: -75%;
    bottom: 0;
    background-color: transparent;
    transition: .5s;
    scale: 1%;
    opacity: 0;
    overflow: hidden;
    border-radius: 10px;
    color: var(--text-color);
    backdrop-filter: blur(1px);
}

.notification:hover::after {
    scale: 80%;
    opacity: 1;
    bottom: -120%;
    background-color: var(--bg-color-3);
}

.user {
    height: 40px;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
}

aside {
    transition: --scrollcol 1s;
}

aside:hover {
    --scrollcol: var(--bg-color-hover);
}

aside::-webkit-scrollbar {
    width: 4px;
}

aside::-webkit-scrollbar-track {
    margin-top: 60px;
    background-color: transparent;
}

aside::-webkit-scrollbar-thumb {
    background-color: var(--scrollcol);
    border-radius: 10px;
}

.side-expand {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 0;
    height: 100vh;
    left: -100%;
    padding: 5px 15px;
    padding-top: 65px;
    padding-right: 11px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
    transition: .5s ease-in-out;
    background: var(--bg-color);
}

.side-expand div {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: var(--font);
    transition: .5s;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.side-expand div:hover {
    background-color: var(--bg-color-1);
    font-weight: bold;
}

aside svg {
    pointer-events: none;
}

.home svg {
    fill: transparent;
    stroke: black;
    stroke-width: 1.5px;
    transition: .5s;
}

.home:hover svg {
    fill: currentColor;
    stroke-width: .7px;
}

.active-home {
    background-color: var(--bg-color-hover);
    font-weight: bold;   
}

.active-home svg {
    stroke-width: .7px;
    fill: currentColor;   
}

#feather-shorts {
    width: 24px;
    height: 24px;
}

.shorts svg,
.like-videos svg {
    stroke-width: 1.5px;
    transition: .5s;
}

.shorts:hover svg {
    stroke-width: 2.1px;
}

.like-videos:hover svg {
    stroke-width: 2.5px;
}

.subscription svg,
.history svg,
.playlist svg {
    stroke: black;
    stroke-width: .2px;
    transition: .5s;
}

.subscription:hover svg,
.history:hover svg,
.playlist:hover svg {
    stroke-width: 1px;
}

aside hr {
    border: 1px solid var(--bg-color-1);
    width: 100%;
    margin: 5px 0;
}

.side-expand .you {
    gap: 10px;
    font-family: var(--font-2);
    font-size: 1.2rem;
}

.side-expand .you:hover {
    font-weight: 100;
    background: none;
}

.watch-later svg,
.watch-later polyline {
    stroke-width: 1.7px;
    fill: transparent;
    transition: .5s;
}

.watch-later:hover svg {
    fill: black;
}

.watch-later:hover polyline {
    stroke: white;
    stroke-width: 2px;
}

.subs-sect {
    font-family: var(--font-2);
    padding: 10px 20px;
    font-size: 1.2rem;
}

aside img {
    border-radius: 50%;
    width: 24px;
}

#menu:checked ~ .side-expand {
    left: 0;
}

.blur {
    position: fixed;
    top: 60px;
    left: 0;
    background: var(--bg-color-2);
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    z-index: 1;
    transition: opacity .5s;
}

#menu:checked ~ .blur {
    content: '';
    backdrop-filter: blur(5px);
    opacity: 1;
    width: 100vw;
    height: 100vh;
    pointer-events: fill;
}

#menu:checked ~ .container {
    pointer-events: none;
}

.container {
    padding: 25px;
    max-width: 90%;
    display: flex;
    gap: 10px;
    margin-inline: auto;
}

.video-list {
    width: 400px;
    height: 90vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    transition: --scrollcol 1s;
    scroll-snap-type: y mandatory;
}

.video-list > * {
    scroll-snap-align: start;
}

.video-list:hover {
    --scrollcol: var(--bg-color-hover);
}

.video-list::-webkit-scrollbar {
    width: 10px;
}

.video-list::-webkit-scrollbar-thumb {
    background-color: var(--scrollcol);
    border-radius: 20px;
}

.video-list::-webkit-scrollbar-track {
    margin: 10px 0;
}

.video-list video{
    max-width: 100%;
    width: 170px;
    border-radius: 10px;
}

.videoItem {
    display: grid;
    grid-template-columns: 170px 1fr;
    gap: 10px;
    cursor: pointer;
}

.video-wrapper {
    position: relative;
}

.video-wrapper img {
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
    border-radius: 10px;
    pointer-events: none;
    transition: 1s;
}

.video-wrapper .duration{
    position: absolute;
    right: 5px;
    bottom: 10px;
    border-radius: 5px;
    font-size: .8rem;
    color: white;
    background-color: var(--bg-color-3);
    padding: 2px 4px;
}

.video-wrapper:hover img {
    opacity: 0;
}

.videoItem .info {
    display: flex;
}

.videoItem .info svg {
    flex-shrink: 0;
    cursor: pointer;
}

.videoItem .info .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;  
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    line-height: 1.25;
    font-size: 1rem;
    margin-bottom: 7px;
}

.videoItem .info p,
.videoItem .info ul {
    font-size: 0.8rem;
    color: var(--text-color-1);
}

.videoItem .info ul {
    list-style: none;
    display: flex;
}

.videoItem .info .date::before {
    content: '•';
    padding: 0 5px;
}

.video-container {
    display:flex;
    overflow: hidden;
    overflow-y: auto;
    height: 90vh;
    flex-direction: column;
    flex: 1;
    transition: --scrollcol 1s;
}

.video-container:hover {
    --scrollcol: var(--bg-color-hover);
}

.video-container::-webkit-scrollbar {
    width: 10px;
}

.video-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollcol);
    border-radius: 20px;
}

.video-container::-webkit-scrollbar-track {
    margin: 10px 0;
}

.video-container video {
    margin-inline: auto;
    max-width: 100%;
    width: 1200px;
    border-radius: 15px;
}

.video-container .info {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px
}

.video-container .info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.video-container .info .comment-list {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.video-container .owner-part {
    display: flex;
    gap: 10px;
    align-items: center;
}

.video-container .owner-part .info {
    cursor: pointer;
    padding: 0;
    gap: 0;
}

.video-container .owner-part .info .name {
    font-family: var(--font-1);
    font-weight: bold;
}

.video-container .owner-part .info .subs {
    font-family: var(--font-1);
    color: var(--text-color-1);
    font-size: .85rem;
}

.video-container .owner-part #sub-btn {
    display: none;
}

.video-container .owner-part .sub-lbl-for {
    margin-left: 20px;
    color: white;
    background-color: black;
    padding: 5px 15px;
    border-radius: 100em;
    cursor: pointer;
    position: relative;
    transition: 150ms;
}

.video-container .owner-part .sub-lbl-for:hover {
    background-color: #272727;
}

@keyframes sub-expand {
    from { max-width: 22px;}
    to { max-width: 180px; }
}

.video-container .owner-part #sub-btn:checked + .sub-lbl-for {
    color: black;
    background-color: var(--bg-color-1);
}

.video-container .owner-part .sub-lbl-for #bell-part {
    display: none;
}

.video-container .owner-part .sub-lbl-for svg {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.video-container .owner-part .sub-lbl-for .bell-part {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    gap: 10px;
}

.video-container .owner-part .sub-lbl-for .bell + p {
    margin-left: 5px;
}

.video-container .owner-part .sub-lbl-for .sub-bell {
    animation: bell linear 800ms;
    transform-origin: top;
}

@keyframes bell {
    25% { transform: rotate(20deg) }
    50% { transform: rotate(-20deg) }
    75% { transform: rotate(20deg) }
    100% { transform: rotate(0deg) }
}

.video-container .owner-part .sub-lbl-for .sub-options {
    position: absolute;
    bottom: -450%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    left: 0;
    padding: 5px 0;
    background: white;
    z-index: 1;
    box-shadow: 0px 5px 10px 5px var(--bg-color-hover);
}

.video-container .owner-part .sub-lbl-for .sub-options > * {
    padding: 5px 15px;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s
}

.video-container .owner-part .sub-lbl-for .sub-options > *:hover {
    background-color: var(--bg-color-1);
}

.video-container .owner-part .sub-lbl-for .sub-options div,
.video-container .owner-part .sub-lbl-for .sub-options label {
    display: flex;
    gap: 15px;
}

.video-container .owner-part .gap {
    flex: 1;
}

.video-container .owner-part .likes,
.video-container .owner-part .share,
.video-container .owner-part .download {
    display: flex;
    gap: 10px;
    background-color: var(--bg-color-1);
    padding: 7px 15px;
    border-radius: 100em;
    transition: .5s;
}

.video-container .owner-part .share,
.video-container .owner-part .download {
    cursor: pointer;
}

.video-container .owner-part svg {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: .5s;
}

.video-container .owner-part .likes hr {
    border: 1px solid var(--bg-color-1);
}

.liked,
.disliked {
    stroke: #efefef;
    fill: black
}

.video-container .owner-part .likes:hover,
.video-container .owner-part .more:hover,
.video-container .owner-part .share:hover,
.video-container .owner-part .download:hover{
    background-color: var(--bg-color-hover);
}

.video-container .owner-part .more {
    padding: 8.5px;
    background: var(--bg-color-1);
    border-radius: 50%;
    display: flex; 
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: .5s;
    position: relative;
}

.video-container .owner-part #more {
    display: none;
}

.video-container .owner-part #more:checked + .more {
    overflow: visible;
}

.video-container .owner-part .more .more-opt {
    position: absolute;
    right: 5px;
    padding-block: 5px;
    border-radius: 10px;
    bottom: -220%;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 1;
    box-shadow: 0px 10px 10px 10px var(--bg-color-hover);
}

.video-container .owner-part .more .more-opt > * {
    display: flex;
    transition: .5s;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
}

.video-container .owner-part .more .more-opt > *:hover {
    background-color: var(--bg-color-1);
} 

.video-container .discription {
    background: var(--bg-color-1);
    padding: 10px 15px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

@keyframes dis-more {
    to {
        max-height: 656px;
    }
}

@keyframes dis-less {
    to {
        max-height: 91px;
    }
}

.video-container .discription .blank {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.video-container .discription #dis-check {
    display: none;
}

.video-container .discription .dis-info {
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.video-container .discription .main-dis p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-container .discription .dis-more,
.video-container .discription .dis-less {
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
}

.video-container .discription .dis-other {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.video-container .discription .dis-other .owner-part {
    margin-top: 30px;
}

.video-container .discription .dis-other .transcript {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video-container .discription .dis-other .transcript p {
    font-size: .9rem;
    color: var(--text-color-1);
}

.video-container .discription .dis-other .transcript .show {
    font-size: .95rem;
    color: #0860d4;
    transition: 1s;
    padding: 7px 15px;
    border-radius: 100em;
    width: fit-content;
    border: solid 1px var(--bg-color-hover);
    cursor: pointer;
}

.video-container .discription .dis-other .transcript .show:hover {
    background-color: #def1ff;
    border: solid 1px #def1ff;
}

.video-container .discription .dis-other .owner-btns, 
.video-container .discription .dis-other .owner-btns > * {
    display: flex;
    gap: 10px;
    align-items: center;
}

.video-container .discription .dis-other .owner-btns > * {
    padding: 5px 10px;
    border: 1px solid var(--bg-color-hover);
    border-radius: 100em;
    font-size: .9rem;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.video-container .discription .dis-other .owner-btns > *:hover {
    background-color: var(--bg-color-hover);
    border: 1px solid transparent;
    
}

.video-container .comment-item {
    display: flex;
    gap: 15px;
}

.video-container .comment-item p {
    font-size: .9rem;
}

.video-container .comment-item .top-com {
    font-size: .8rem;
    display: flex;
    gap: 10px;
    color: var(--text-color-1);
    cursor: pointer;
}

.video-container .comment-item .top-com .name {
    font-weight: bold;
    color: black;
}

.video-container .comment-item .like {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.video-container .comment-item .like svg {
    cursor: pointer;
    transition: .5s;
    padding: 7px;
    border-radius: 50%;
}

.video-container .comment-item .like svg:hover {
    background-color: var(--bg-color-hover);
}

.video-container .comment-item .like .reply {
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: 7px 15px;
    border-radius: 100em;
}

.video-container .comment-item .like .reply:hover {
    background-color: var(--bg-color-hover);
}

.video-container .comment-item .replies {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #065fd4;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    padding-left: 10px;
    border-radius: 100em;
    width: fit-content;
    transition: .5s;
}

.video-container .comment-item .feather-more-vertical {
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition: .5s;
}

.video-container .comment-item .feather-more-vertical:hover {
    background-color: var(--bg-color-hover);
}

.video-container .comment-item .replies:hover {
    background-color: #def1ff;
}

.video-container .user-comment {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
}

.video-container .user-comment input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--bg-color-hover);
    width: 100%;
    font-size: 1.2rem;
    outline: none;
    transition: 1s;
    font-family: var(--font-2);
}

.video-container .user-comment input:focus,
.video-container .user-comment input:valid {
    border-bottom: 1px solid var(--bg-color-2);
}

.video-container .user-comment .input-part {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    gap: 10px;
    position: relative;
    height: fit-content;
    padding-left: 10px;
}

.video-container .comment-list .input-btn {
    display: flex;
    gap: 10px;
    margin-left: 50px;
    transition: .5s;
}

.video-container .comment-list .input-btn > * {
    padding: 5px 15px;
    border-radius: 100em;
    cursor: pointer;
    font-family: var(--font-2);
    transition: .5s;
}

.video-container .comment-list .input-btn .comment {
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
}

.video-container .comment-list .input-btn .cancel:hover {
    background-color: var(--bg-color-hover);
}

.video-container .comment-list .sort {
    display: flex;
    align-items: center;
    gap: 50px;
}

.video-container .comment-list .sort .sort-btn {
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 100em;
    transition: .5s;
}

.video-container .comment-list .sort .sort-btn:hover {
    background-color: var(--bg-color-1);
}